.backgroundImage {
    background-image: url("../images/PP-1_small.webp");
    margin: 0 auto;
    background-position: center;
    background-repeat: repeat;

  }

  div {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: rgb(69, 191, 46);
    font-weight: lighter;
  }

  a:link {
    color: rgb(255, 255, 255);
  }

  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }

  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }

  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  }

  .purchase0 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background: black;
    max-width: 345px;
    max-height: 270px;
  }

  .purchase1 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 20px;
    background: black;
    max-width: 370px;
    max-height: 390px;
  }

  .purchase2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 20px;
    background: black;
    max-width: 350px;
    max-height: 300px;
  }

  .purchase3 {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background: black;
    max-width: 630px;
    max-height: 320px;
  }

  .additionalTextLeft{
    text-align: left;
    justify-content: center;
    padding-top: 20px;
  }

  .additionalTextLeft0{
    text-align: left;
    justify-content: center;
    padding-top: 0px;
  }

  .blurb {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(241, 210, 65);

  }
    .lou {
      justify-content: center;
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 325px;
    }

    .maier {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 850px;

    }

    .flora {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 325px;
    }

    .op {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 325px;
    }

    .date {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 345px;
      color: rgb(246, 74, 14);
    }

    .mastering {
      padding: 10px;
      background: black;
      max-width: 305px;
      max-height: 305px;
      color: rgb(255, 255, 255);
    }

    .design {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 345px;
      color: rgb(255, 255, 255);
      margin-bottom: 30px;
    }
