.backgroundImage {
    background-image: url("../images/PP-4_small.webp");
    margin: 0 auto;
    background-position: center;
    background-repeat: repeat;

  }

  .hankil {
    justify-content: center;
    padding: 10px;
    background: black;
    max-width: 345px;
    max-height: 425px;
  }

  .speers {
    justify-content: center;
    padding: 10px;
    background: black;
    max-width: 400px;
    max-height: 450px;
  }

  div {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: rgb(241, 82, 220);
    font-weight: lighter;
  }

  a:link {
    color: rgb(255, 255, 255);
  }

  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }

  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }

  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  }

  .purchase0 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background: black;
    max-width: 400px;
    max-height: 300px;
  }

  .blurb {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(246, 74, 14);

  }
    .blurbFrame {
      justify-content: center;
      padding: 10px;
      background: black;
      max-width: 645px;
      max-height: 10000px;
    }

    .date {
      padding: 10px;
      background: black;
      max-width: 345px;
      max-height: 345px;
      color: rgb(255, 223, 41);
    }

    .mastering {
      padding: 10px;
      color: white;
      background: black;
      max-width: 305px;
      max-height: 305px;
    }

    .design {
      padding: 10px;
      color: white;
      background: black;
      max-width: 345px;
      max-height: 345px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 700px) {
      .blurbFrame {
        justify-content: center;
        padding: 10px;
        background: black;
        max-width: 445px;
        max-height: 50000px;
      }

      
  
    }
